GestionEmpresas/GestionEmpresas/Service References/srvGestion/ServicioGestion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2231/ServicioGestion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioGestion" />
  <xs:element name="addEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="empData" nillable="true" type="q1:EmpresaData" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="conData" nillable="true" type="q2:ContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEmailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getAllEmailResult" nillable="true" type="q3:ArrayOfEmailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getEmailIdResult" nillable="true" type="q4:EmailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getEmailCorreoResult" nillable="true" type="q5:EmailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmail" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmail" type="xs:int" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cif" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="razon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="web" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sector" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEmpresaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmpresa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getAllEmpresaResult" nillable="true" type="q6:ArrayOfEmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpresaCif">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpresaCifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getEmpresaCifResult" nillable="true" type="q7:EmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpresaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpresaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getEmpresaIdResult" nillable="true" type="q8:EmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpresaSector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSector" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpresaSectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getEmpresaSectorResult" nillable="true" type="q9:ArrayOfEmpresaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="cif" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="razon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="web" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sector" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMailEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMailEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getMailEmpresaResult" nillable="true" type="q10:ArrayOfEmailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMailContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMailContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getMailContactoResult" nillable="true" type="q11:ArrayOfEmailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="street" nillable="true" type="q12:DireccionData" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="empData" nillable="true" type="q13:EmpresaData" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="conData" nillable="true" type="q14:ContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDireccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="street" nillable="true" type="q15:DireccionData" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDireccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="street" nillable="true" type="q16:DireccionData" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDireccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDireccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetDireccionResult" nillable="true" type="q17:ArrayOfDireccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetSectorResult" nillable="true" type="q18:ArrayOfSectorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoAccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetEstadoAccionResult" nillable="true" type="q19:ArrayOfEstadoAccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEstadoAccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEstadoAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetAllEstadoAccionResult" nillable="true" type="q20:ArrayOfEstadoAccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContacto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetContactoResult" nillable="true" type="q21:ArrayOfContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="contacto" nillable="true" type="q22:ContactoData" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContactoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="contacto" nillable="true" type="q23:ContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContactoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="contacto" nillable="true" type="q24:ContactoData" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditContactoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDirecionesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDirecionesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getDirecionesEmpresaResult" nillable="true" type="q25:ArrayOfDireccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDirecionesContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDirecionesContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getDirecionesContactoResult" nillable="true" type="q26:ArrayOfDireccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumeroTelefono">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumeroTelefonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetNumeroTelefonoResult" nillable="true" type="q27:TelefonoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdTelefono">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTelefono" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdTelefonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetIdTelefonoResult" nillable="true" type="q28:TelefonoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTelefonos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTelefonosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetAllTelefonosResult" nillable="true" type="q29:ArrayOfTelefonoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTelefono">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="t" nillable="true" type="q30:TelefonoData" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="empData" nillable="true" type="q31:EmpresaData" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="conData" nillable="true" type="q32:ContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTelefonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTelefonoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTelefono">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="t" nillable="true" type="q33:TelefonoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTelefonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTelefonoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTelefono">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTelefono" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTelefonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTelefonoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdTipoAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoAccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdTipoAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetIdTipoAccionResult" nillable="true" type="q34:TipoDeAccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoAccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTipoAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetAllTipoAccionResult" nillable="true" type="q35:ArrayOfTipoDeAccionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelefonosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelefonosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetTelefonosEmpresaResult" nillable="true" type="q36:ArrayOfTelefonoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactosEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactosEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetContactosEmpresaResult" nillable="true" type="q37:ArrayOfContactoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelefonosContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelefonosContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="GetTelefonosContactoResult" nillable="true" type="q38:ArrayOfTelefonoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="usuario" nillable="true" type="q39:UsuarioData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="user" nillable="true" type="q40:UsuarioData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getAllUsuariosResult" nillable="true" type="q41:ArrayOfUsuarioData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getUsuarioResult" nillable="true" type="q42:UsuarioData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAccionComercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="accion" nillable="true" type="q43:AccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAccionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAccionComercialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccionComercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAccionComercialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editAccionComercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccion" type="xs:int" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="accion" nillable="true" type="q44:AccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editAccionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editAccionComercialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAccionesComerciales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAccionesComercialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getAllAccionesComercialesResult" nillable="true" type="q45:ArrayOfAccionComercialMostrarData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccionComercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getAccionComercialResult" nillable="true" type="q46:AccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccionesComercialesUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccionesComercialesUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getAccionesComercialesUsuariosResult" nillable="true" type="q47:ArrayOfAccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccionesComercialesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAccionesComercialesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ServicioGestion" minOccurs="0" name="getAccionesComercialesEmpresaResult" nillable="true" type="q48:ArrayOfAccionComercialData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>